@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@using Bootstrap = Videre.Core.Extensions.Bootstrap;
@model Models.Widget

@{
    Html.RegisterWebReferenceGroup("datatables");
    var tasks = $safeprojectname$.Services.ToDo.Get();
    Html.RegisterControlPresenter("$clientnamespace$.todo", Model, new { data = tasks } ); //can easily pass data from server to client-presenter
}
<div id="@Model.GetId("Widget")">
    @{Html.RenderPartial("WidgetHeader", Model);}
    @{Html.RenderPartial("WidgetSectionHeader", Model, new ViewDataDictionary(new { SectionHeader = Model.GetText("WidgetTitle.Text", "To Do List") }));}
    <p>@Html.Raw(Model.GetText("Instructions.Text", "Keep track of your To Do list."))</p>@*Notice how we handle localization simply call GetText with a token and a default value and it will be added to your localization table where other translations can be added*@
    <div class="row">
        <div class="btn-toolbar col-md-12">
            <div class="btn-group">
                @Html.Bootstrap().Button("btnNew").ButtonSize(BootstrapUnits.ButtonSize.Small).Text("NewEntry.Text", "New Entry", true).Icon("glyphicon glyphicon-plus")
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-condensed" id="@Model.GetId("ItemTable")">
                <thead>
                    <tr>
                        <th style="width: 62px"></th>
                        <th>@Model.GetText("Name.Text", "Name")</th>
                        <th>@Model.GetText("CompleteDate.Text", "Complete Date")</th>
                    </tr>
                </thead>
                <tbody id="@Model.GetId("ItemList")"></tbody>
            </table>
            <script id="@Model.GetId("ItemListTemplate")" type="text/html">
                @*This is our jsRender template*@
                <tr>
                    <td>
                        <div class="btn-group">
                            @Html.Bootstrap().Button().DataAttribute("id", "{{:Id}}").DataAttribute("action", "edit").Icon("glyphicon glyphicon-pencil").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                            @Html.Bootstrap().Button().DataAttribute("id", "{{:Id}}").DataAttribute("action", "delete").Icon("glyphicon glyphicon-trash").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                        </div>
                    </td>
                    <td>{{:Name}}</td>
                    <td>{{:~formatDateTime(CompletedDate, null, '@Account.GetUserTimeZoneName()')}}</td>
                </tr>
            </script>
        </div>
    </div>
    <div id="@Model.GetId("Dialog")" data-target="#@Model.GetId("Dialog")" class="modal fade">
        <div class="modal-dialog" style="width: 700px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @Model.GetText("EditTask.Text", "Edit Task")
                </div>
                <div class="modal-body">
                    @{Html.RenderPartial("WidgetHeader", Model);}
                    <div class="form-horizontal">
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Name.Text", "Name").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Name").Required(), BootstrapUnits.GridSize.MediumDevice9)
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Description.Text", "Text").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextArea().Rows(5).DataColumn("Description"), BootstrapUnits.GridSize.MediumDevice9)
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("CompletedDate.Text", "Completed Date").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().DateTimePicker().DataColumn("CompletedDate").UserTimeZone(), BootstrapUnits.GridSize.MediumDevice9)
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Bootstrap().Button("btnSave").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Save.Text", "Save", true)
                    @Html.Bootstrap().Button().Text("Cancel.Text", "Cancel", true).DataAttribute("dismiss", "modal")
                </div>
            </div>
        </div>
    </div>
</div>
